.header {
  position: sticky;
  top: 0;
  left: 0;
  padding: 12px 20px;
  background: #1f2f54;

  display: flex;
  align-items: center;
  justify-content: space-between;

  a,
  button {
    text-decoration: underline;
  }
}

.navigation {
  display: flex;
}
.navigationItem {
  & + & {
    margin-left: 8px;
  }

  &Name {
    margin-right: 32px;
  }
}
